<%- include('partials/head') -%>
<%- include('partials/taskInputForm') -%>

<h2>Your Tasks (<%= taskCount ? taskCount : 0%>)</h2>
<% if (tasks) { %>
<ul>
  <% for (const id in tasks) {%>
  <li>
    <div class="taskWrapper" id="<%=id%>">
      <h3 class="task"><%=tasks[id].task%></h3>
      <dl class="taskComponents">
        <dt class="taskComponent">Description</dt>
        <dd class="description"><%=tasks[id].description%></dd>

        <dt class="taskComponent">Due Date</dt>
        <dd class="dueDate"><%=tasks[id].dueDate%></dd>

        <dt class="taskComponent">Status</dt>
        <dd class="status"><%=tasks[id].isComplete ? "Complete!" : "Incomplete!"%></dd>
      </dl>
      <div class="taskActions">
        <button onclick="toggleEdit(<%=id%>)">Edit Task</button>
        <button onclick="toggleComplete(<%=id%>)"><%=tasks[id].isComplete ? "Mark Incomplete" : "Complete"%></button>
        <button onclick="deleteTask(<%=id%>)">Delete</button>
      </div>
    </div>
  </li>
  <% } %>
</ul>
<script type="text/javascript" src="javascripts/taskActions.js"></script>
<% } else {%>
<p>Empty. Add a task!</p>
<% } %>